In [37]:
import pandas as pd

In [38]:
#데이터 불러오기

path = r"C:\Users\82106\Desktop/reviews_KO.xlsx"
df = pd.read_excel(path)
df

,Index,listing_id,id,date,reviewer_id,reviewer_name,comments,comments_KO
0,0,77765,8.400000e+17,2023-03-04 00:00:00,154000000,Brian,We enjoyed our stay at The Box House No compla...,The Box House에서 즐거운 시간을 보냈습니다. 불만 사항이 없습니다. 이 ...
1,1,77765,8.460000e+17,2023-03-12 00:00:00,95341816,Tanya,Wonderful stay,멋진 숙박
2,2,77765,8.510000e+17,2023-03-19 00:00:00,44514440,Chelsey,We loved The Box House We travel for Maryland ...,우리는 The Box House를 좋아했습니다. 우리는 브루클린에서 문신을 하기 위...
3,3,77765,8.710000e+17,2023-04-16 00:00:00,348000000,Jakub,We loved our stay at this hotel The staff was ...,이 호텔에서의 숙박이 정말 좋았습니다. 직원이 매우 도움이 되었고 사랑스럽게 체크인...
4,4,77765,9.020000e+17,2023-05-29 00:00:00,54427269,David,Clean and spacious room,깨끗하고 넓은 객실
...,...,...,...,...,...,...,...,...
347338,223667,1100000000000000000,1.100000e+18,2024-02-24 00:00:00,534000000,Hikari,Clean and convenient location It was a good deal,깨끗하고 위치가 편리해서 좋았어요
347339,223668,1100000000000000000,1.100000e+18,2024-02-24 00:00:00,507000000,Paulina,Absolutely outstanding Right in the middle of ...,정말 훌륭합니다. 도시 한가운데에 있고 근처에서 할 수 있는 일이 너무 많습니다. ...
347340,223669,1100000000000000000,1.100000e+18,2024-02-25 00:00:00,306000000,Christopher,Great location nice place,좋은 위치 좋은 곳
347341,223670,1100000000000000000,1.100000e+18,2024-02-25 00:00:00,138000000,David,Great stay Would definitely stay here again,훌륭한 숙박입니다. 꼭 다시 이곳에 머물고 싶습니다.
347342,223671,1090000000000000000,1.100000e+18,2024-02-19 00:00:00,331000000,Fabio,As soon as I walked in I fell in love with how...,들어가자마자 숙소가 얼마나 깨끗하고 밝은지 반했습니다. Wi-Fi가 빨라서 몇 시간...

In [39]:
#필요한 열만 추출

df = df.loc[:, ["reviewer_id","reviewer_name","comments_KO"]]
df

,reviewer_id,reviewer_name,comments_KO
0,154000000,Brian,The Box House에서 즐거운 시간을 보냈습니다. 불만 사항이 없습니다. 이 ...
1,95341816,Tanya,멋진 숙박
2,44514440,Chelsey,우리는 The Box House를 좋아했습니다. 우리는 브루클린에서 문신을 하기 위...
3,348000000,Jakub,이 호텔에서의 숙박이 정말 좋았습니다. 직원이 매우 도움이 되었고 사랑스럽게 체크인...
4,54427269,David,깨끗하고 넓은 객실
...,...,...,...
347338,534000000,Hikari,깨끗하고 위치가 편리해서 좋았어요
347339,507000000,Paulina,정말 훌륭합니다. 도시 한가운데에 있고 근처에서 할 수 있는 일이 너무 많습니다. ...
347340,306000000,Christopher,좋은 위치 좋은 곳
347341,138000000,David,훌륭한 숙박입니다. 꼭 다시 이곳에 머물고 싶습니다.
347342,331000000,Fabio,들어가자마자 숙소가 얼마나 깨끗하고 밝은지 반했습니다. Wi-Fi가 빨라서 몇 시간...

In [40]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 347343 entries, 0 to 347342
Data columns (total 3 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   reviewer_id    347343 non-null  int64
 1   reviewer_name  347343 non-null  object
 2   comments_KO    343725 non-null  object
dtypes: int64(1), object(2)
memory usage: 8.0+ MB

In [42]:
df.iloc[89]

reviewer_id      186000000
reviewer_name        Rivka
comments_KO        #VALUE!
Name: 89, dtype: object

In [43]:
# nan 값을 가진 행 삭제
df = df.dropna()

In [44]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 343725 entries, 0 to 347342
Data columns (total 3 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   reviewer_id    343725 non-null  int64
 1   reviewer_name  343725 non-null  object
 2   comments_KO    343725 non-null  object
dtypes: int64(1), object(2)
memory usage: 10.5+ MB

In [45]:
df.iloc[22]

reviewer_id                                              461000000
reviewer_name                                                Lydie
comments_KO      Le logement tait matche nos attentes JENNIFER ...
Name: 22, dtype: object

In [60]:
# 알파벳 제거 함수
import re
def cleanText(readData):
    text = re.sub('[abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ]', '', readData)
    return text

df['comments_KO'] = df['comments_KO'].apply(cleanText)

In [65]:
# nan 값을 가진 행 삭제
df = df.dropna()

In [66]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 343725 entries, 0 to 347342
Data columns (total 3 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   reviewer_id    343725 non-null  int64
 1   reviewer_name  343725 non-null  object
 2   comments_KO    343725 non-null  object
dtypes: int64(1), object(2)
memory usage: 10.5+ MB

In [67]:
df.iloc[22]

reviewer_id                               461000000
reviewer_name                                 Lydie
comments_KO
Name: 22, dtype: object

In [72]:
df.iloc[22,2]

'                                  '